<div style="background:black; padding:10px;">
    <a href="/production" style="color:white; margin-right:15px;">Production</a>
    <a href="/warehouse" style="color:white; margin-right:15px;">Warehouse</a>
    <a href="/purchase" style="color:white; margin-right:15px;">Purchase</a>
    <a href="/finance" style="color:white; margin-right:15px;">Finance</a>
    <a href="/mrpList" style="color:white; margin-right:15px;">MRP List</a>

    <a href="/logout" style="color:red; float:right;">Logout</a>
</div>
<form action="/mrp/save" method="post">

    <input type="number" name="orderId" placeholder="Order ID" required/>

    <select name="materialId">
        <option th:each="mat : ${materials}" 
                th:value="${mat.id}" 
                th:text="${mat.name}">
        </option>
    </select>

    <input type="number" name="requiredQuantity" placeholder="Quantity" required/>

    <button type="submit">Create MRP</button>

</form>